body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.calculator {
    border: 2px solid #333;
    padding: 10px;
}

#display {
    width: 160px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 18px;
}

.button {
    width: 35px;
    height: 35px;
    margin: 2px;
    font-size: 16px;
}