body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#adf3f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 50px;
    flex-direction: column;
}

.title {
    text-align: center;
    color: #047da1;
    margin-bottom: 60px;
    font-size: 60px;

}

.calculator {
    background-color: #e0f7fa;
    border: 2px solid #67d4f5;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(8, 95, 224, 0.2);
    text-align: center;
    width: 260px;
}

#display {
    width: 160px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align: right;
    padding: 5px 10px;
    border: 1px solid #047da1;
    border-radius: 5px;
    background-color: #ffffff;
    box-sizing: border-box;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #97c4d1;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}