body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#adf3f8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 50px;
}

.calculator {
    background-color: #e0f7fa;
    border: 2px solid #67d4f5;
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(8, 95, 224, 0.2);
    text-align: center;
    width: 260px;
}

#display {
    width: 160px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 18px;
}

.button {
    width: 35px;
    height: 35px;
    margin: 2px;
    font-size: 16px;
}